<h1>Twitter</h1>
  <!-- <% @popular.each do |popular| %>
  <div class="col-sm-12 col-md-4">
    <div class="thumbnail">
      <%= image_tag popular.images.low_resolution.url %>
      <div class="caption">
        <%= popular.user.username %>
        <%= popular.tags %>
      </div>
    </div>
  </div>
<% end %> -->

  <% @tweetsT.each do |tweet| %>
       <hr/>
       <a href="<%= tweet.user.url %>" target="_blank"><img src=" <%= tweet.user.profile_image_url %>" /> @<%= tweet.user.screen_name %></a>
        :
       <br/>
       <br/>
       <%= tweet.entity.uri %>
       <br/>
       <br/>
       <%= tweet.text %> 
              <br/>
       <br/>
       <p><a href="<%= tweet.url %>" target="_blank"> View Tweet</a></p>
       <hr/>
       <br/>
       <br/>
  <% end %>


