<h1>Twitter</h1>
  <!-- <% @popular.each do |popular| %>
  <div class="col-sm-12 col-md-4">
    <div class="thumbnail">
      <%= image_tag popular.images.low_resolution.url %>
      <div class="caption">
        <%= popular.user.username %>
        <%= popular.tags %>
      </div>
    </div>
  </div>
<% end %> -->

  <% @tweets.each do |tweet| %>
       
       <%= tweet.user.screen_name %> :
       <br/>
       <%= tweet.text %> 
       <br/>
       <br/>
        
  <% end %>


